<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faces</key>
	<array>
		<dict>
			<key>face_rectangle</key>
			<dict>
				<key>height</key>
				<integer>183</integer>
				<key>left</key>
				<integer>82</integer>
				<key>top</key>
				<integer>84</integer>
				<key>width</key>
				<integer>183</integer>
			</dict>
			<key>face_token</key>
			<string>e0881e8e20940c8fc1e069e0bce28ca9</string>
			<key>landmark</key>
			<dict>
				<key>contour_chin</key>
				<dict>
					<key>x</key>
					<integer>191</integer>
					<key>y</key>
					<integer>265</integer>
				</dict>
				<key>contour_left1</key>
				<dict>
					<key>x</key>
					<integer>75</integer>
					<key>y</key>
					<integer>141</integer>
				</dict>
				<key>contour_left2</key>
				<dict>
					<key>x</key>
					<integer>80</integer>
					<key>y</key>
					<integer>161</integer>
				</dict>
				<key>contour_left3</key>
				<dict>
					<key>x</key>
					<integer>86</integer>
					<key>y</key>
					<integer>180</integer>
				</dict>
				<key>contour_left4</key>
				<dict>
					<key>x</key>
					<integer>93</integer>
					<key>y</key>
					<integer>199</integer>
				</dict>
				<key>contour_left5</key>
				<dict>
					<key>x</key>
					<integer>103</integer>
					<key>y</key>
					<integer>217</integer>
				</dict>
				<key>contour_left6</key>
				<dict>
					<key>x</key>
					<integer>116</integer>
					<key>y</key>
					<integer>233</integer>
				</dict>
				<key>contour_left7</key>
				<dict>
					<key>x</key>
					<integer>131</integer>
					<key>y</key>
					<integer>246</integer>
				</dict>
				<key>contour_left8</key>
				<dict>
					<key>x</key>
					<integer>148</integer>
					<key>y</key>
					<integer>257</integer>
				</dict>
				<key>contour_left9</key>
				<dict>
					<key>x</key>
					<integer>167</integer>
					<key>y</key>
					<integer>265</integer>
				</dict>
				<key>contour_right1</key>
				<dict>
					<key>x</key>
					<integer>254</integer>
					<key>y</key>
					<integer>98</integer>
				</dict>
				<key>contour_right2</key>
				<dict>
					<key>x</key>
					<integer>258</integer>
					<key>y</key>
					<integer>119</integer>
				</dict>
				<key>contour_right3</key>
				<dict>
					<key>x</key>
					<integer>261</integer>
					<key>y</key>
					<integer>140</integer>
				</dict>
				<key>contour_right4</key>
				<dict>
					<key>x</key>
					<integer>261</integer>
					<key>y</key>
					<integer>161</integer>
				</dict>
				<key>contour_right5</key>
				<dict>
					<key>x</key>
					<integer>259</integer>
					<key>y</key>
					<integer>182</integer>
				</dict>
				<key>contour_right6</key>
				<dict>
					<key>x</key>
					<integer>252</integer>
					<key>y</key>
					<integer>203</integer>
				</dict>
				<key>contour_right7</key>
				<dict>
					<key>x</key>
					<integer>242</integer>
					<key>y</key>
					<integer>222</integer>
				</dict>
				<key>contour_right8</key>
				<dict>
					<key>x</key>
					<integer>230</integer>
					<key>y</key>
					<integer>239</integer>
				</dict>
				<key>contour_right9</key>
				<dict>
					<key>x</key>
					<integer>213</integer>
					<key>y</key>
					<integer>255</integer>
				</dict>
				<key>left_eye_bottom</key>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>134</integer>
				</dict>
				<key>left_eye_center</key>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>130</integer>
				</dict>
				<key>left_eye_left_corner</key>
				<dict>
					<key>x</key>
					<integer>93</integer>
					<key>y</key>
					<integer>134</integer>
				</dict>
				<key>left_eye_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>101</integer>
					<key>y</key>
					<integer>135</integer>
				</dict>
				<key>left_eye_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>119</integer>
					<key>y</key>
					<integer>131</integer>
				</dict>
				<key>left_eye_pupil</key>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>128</integer>
				</dict>
				<key>left_eye_right_corner</key>
				<dict>
					<key>x</key>
					<integer>126</integer>
					<key>y</key>
					<integer>128</integer>
				</dict>
				<key>left_eye_top</key>
				<dict>
					<key>x</key>
					<integer>108</integer>
					<key>y</key>
					<integer>124</integer>
				</dict>
				<key>left_eye_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>128</integer>
				</dict>
				<key>left_eye_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>118</integer>
					<key>y</key>
					<integer>124</integer>
				</dict>
				<key>left_eyebrow_left_corner</key>
				<dict>
					<key>x</key>
					<integer>75</integer>
					<key>y</key>
					<integer>122</integer>
				</dict>
				<key>left_eyebrow_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>86</integer>
					<key>y</key>
					<integer>117</integer>
				</dict>
				<key>left_eyebrow_lower_middle</key>
				<dict>
					<key>x</key>
					<integer>99</integer>
					<key>y</key>
					<integer>114</integer>
				</dict>
				<key>left_eyebrow_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>113</integer>
					<key>y</key>
					<integer>111</integer>
				</dict>
				<key>left_eyebrow_right_corner</key>
				<dict>
					<key>x</key>
					<integer>126</integer>
					<key>y</key>
					<integer>108</integer>
				</dict>
				<key>left_eyebrow_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>83</integer>
					<key>y</key>
					<integer>110</integer>
				</dict>
				<key>left_eyebrow_upper_middle</key>
				<dict>
					<key>x</key>
					<integer>97</integer>
					<key>y</key>
					<integer>104</integer>
				</dict>
				<key>left_eyebrow_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>112</integer>
					<key>y</key>
					<integer>103</integer>
				</dict>
				<key>mouth_left_corner</key>
				<dict>
					<key>x</key>
					<integer>133</integer>
					<key>y</key>
					<integer>205</integer>
				</dict>
				<key>mouth_lower_lip_bottom</key>
				<dict>
					<key>x</key>
					<integer>178</integer>
					<key>y</key>
					<integer>221</integer>
				</dict>
				<key>mouth_lower_lip_left_contour1</key>
				<dict>
					<key>x</key>
					<integer>153</integer>
					<key>y</key>
					<integer>211</integer>
				</dict>
				<key>mouth_lower_lip_left_contour2</key>
				<dict>
					<key>x</key>
					<integer>145</integer>
					<key>y</key>
					<integer>215</integer>
				</dict>
				<key>mouth_lower_lip_left_contour3</key>
				<dict>
					<key>x</key>
					<integer>159</integer>
					<key>y</key>
					<integer>222</integer>
				</dict>
				<key>mouth_lower_lip_right_contour1</key>
				<dict>
					<key>x</key>
					<integer>198</integer>
					<key>y</key>
					<integer>202</integer>
				</dict>
				<key>mouth_lower_lip_right_contour2</key>
				<dict>
					<key>x</key>
					<integer>209</integer>
					<key>y</key>
					<integer>202</integer>
				</dict>
				<key>mouth_lower_lip_right_contour3</key>
				<dict>
					<key>x</key>
					<integer>196</integer>
					<key>y</key>
					<integer>214</integer>
				</dict>
				<key>mouth_lower_lip_top</key>
				<dict>
					<key>x</key>
					<integer>176</integer>
					<key>y</key>
					<integer>211</integer>
				</dict>
				<key>mouth_right_corner</key>
				<dict>
					<key>x</key>
					<integer>217</integer>
					<key>y</key>
					<integer>187</integer>
				</dict>
				<key>mouth_upper_lip_bottom</key>
				<dict>
					<key>x</key>
					<integer>173</integer>
					<key>y</key>
					<integer>198</integer>
				</dict>
				<key>mouth_upper_lip_left_contour1</key>
				<dict>
					<key>x</key>
					<integer>162</integer>
					<key>y</key>
					<integer>192</integer>
				</dict>
				<key>mouth_upper_lip_left_contour2</key>
				<dict>
					<key>x</key>
					<integer>146</integer>
					<key>y</key>
					<integer>197</integer>
				</dict>
				<key>mouth_upper_lip_left_contour3</key>
				<dict>
					<key>x</key>
					<integer>152</integer>
					<key>y</key>
					<integer>200</integer>
				</dict>
				<key>mouth_upper_lip_right_contour1</key>
				<dict>
					<key>x</key>
					<integer>181</integer>
					<key>y</key>
					<integer>188</integer>
				</dict>
				<key>mouth_upper_lip_right_contour2</key>
				<dict>
					<key>x</key>
					<integer>199</integer>
					<key>y</key>
					<integer>186</integer>
				</dict>
				<key>mouth_upper_lip_right_contour3</key>
				<dict>
					<key>x</key>
					<integer>195</integer>
					<key>y</key>
					<integer>192</integer>
				</dict>
				<key>mouth_upper_lip_top</key>
				<dict>
					<key>x</key>
					<integer>171</integer>
					<key>y</key>
					<integer>192</integer>
				</dict>
				<key>nose_contour_left1</key>
				<dict>
					<key>x</key>
					<integer>141</integer>
					<key>y</key>
					<integer>126</integer>
				</dict>
				<key>nose_contour_left2</key>
				<dict>
					<key>x</key>
					<integer>142</integer>
					<key>y</key>
					<integer>158</integer>
				</dict>
				<key>nose_contour_left3</key>
				<dict>
					<key>x</key>
					<integer>153</integer>
					<key>y</key>
					<integer>177</integer>
				</dict>
				<key>nose_contour_lower_middle</key>
				<dict>
					<key>x</key>
					<integer>167</integer>
					<key>y</key>
					<integer>178</integer>
				</dict>
				<key>nose_contour_right1</key>
				<dict>
					<key>x</key>
					<integer>167</integer>
					<key>y</key>
					<integer>119</integer>
				</dict>
				<key>nose_contour_right2</key>
				<dict>
					<key>x</key>
					<integer>181</integer>
					<key>y</key>
					<integer>148</integer>
				</dict>
				<key>nose_contour_right3</key>
				<dict>
					<key>x</key>
					<integer>181</integer>
					<key>y</key>
					<integer>170</integer>
				</dict>
				<key>nose_left</key>
				<dict>
					<key>x</key>
					<integer>140</integer>
					<key>y</key>
					<integer>174</integer>
				</dict>
				<key>nose_right</key>
				<dict>
					<key>x</key>
					<integer>191</integer>
					<key>y</key>
					<integer>160</integer>
				</dict>
				<key>nose_tip</key>
				<dict>
					<key>x</key>
					<integer>162</integer>
					<key>y</key>
					<integer>163</integer>
				</dict>
				<key>right_eye_bottom</key>
				<dict>
					<key>x</key>
					<integer>201</integer>
					<key>y</key>
					<integer>115</integer>
				</dict>
				<key>right_eye_center</key>
				<dict>
					<key>x</key>
					<integer>199</integer>
					<key>y</key>
					<integer>110</integer>
				</dict>
				<key>right_eye_left_corner</key>
				<dict>
					<key>x</key>
					<integer>182</integer>
					<key>y</key>
					<integer>117</integer>
				</dict>
				<key>right_eye_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>191</integer>
					<key>y</key>
					<integer>116</integer>
				</dict>
				<key>right_eye_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>210</integer>
					<key>y</key>
					<integer>111</integer>
				</dict>
				<key>right_eye_pupil</key>
				<dict>
					<key>x</key>
					<integer>198</integer>
					<key>y</key>
					<integer>109</integer>
				</dict>
				<key>right_eye_right_corner</key>
				<dict>
					<key>x</key>
					<integer>218</integer>
					<key>y</key>
					<integer>105</integer>
				</dict>
				<key>right_eye_top</key>
				<dict>
					<key>x</key>
					<integer>197</integer>
					<key>y</key>
					<integer>103</integer>
				</dict>
				<key>right_eye_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>188</integer>
					<key>y</key>
					<integer>108</integer>
				</dict>
				<key>right_eye_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>208</integer>
					<key>y</key>
					<integer>103</integer>
				</dict>
				<key>right_eyebrow_left_corner</key>
				<dict>
					<key>x</key>
					<integer>169</integer>
					<key>y</key>
					<integer>99</integer>
				</dict>
				<key>right_eyebrow_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>184</integer>
					<key>y</key>
					<integer>95</integer>
				</dict>
				<key>right_eyebrow_lower_middle</key>
				<dict>
					<key>x</key>
					<integer>199</integer>
					<key>y</key>
					<integer>89</integer>
				</dict>
				<key>right_eyebrow_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>214</integer>
					<key>y</key>
					<integer>86</integer>
				</dict>
				<key>right_eyebrow_right_corner</key>
				<dict>
					<key>x</key>
					<integer>229</integer>
					<key>y</key>
					<integer>84</integer>
				</dict>
				<key>right_eyebrow_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>180</integer>
					<key>y</key>
					<integer>86</integer>
				</dict>
				<key>right_eyebrow_upper_middle</key>
				<dict>
					<key>x</key>
					<integer>196</integer>
					<key>y</key>
					<integer>79</integer>
				</dict>
				<key>right_eyebrow_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>213</integer>
					<key>y</key>
					<integer>77</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>face_rectangle</key>
			<dict>
				<key>height</key>
				<integer>119</integer>
				<key>left</key>
				<integer>483</integer>
				<key>top</key>
				<integer>97</integer>
				<key>width</key>
				<integer>119</integer>
			</dict>
			<key>face_token</key>
			<string>7bea9e1915632a35f0febafd1614197f</string>
			<key>landmark</key>
			<dict>
				<key>contour_chin</key>
				<dict>
					<key>x</key>
					<integer>543</integer>
					<key>y</key>
					<integer>212</integer>
				</dict>
				<key>contour_left1</key>
				<dict>
					<key>x</key>
					<integer>490</integer>
					<key>y</key>
					<integer>109</integer>
				</dict>
				<key>contour_left2</key>
				<dict>
					<key>x</key>
					<integer>488</integer>
					<key>y</key>
					<integer>123</integer>
				</dict>
				<key>contour_left3</key>
				<dict>
					<key>x</key>
					<integer>488</integer>
					<key>y</key>
					<integer>137</integer>
				</dict>
				<key>contour_left4</key>
				<dict>
					<key>x</key>
					<integer>488</integer>
					<key>y</key>
					<integer>151</integer>
				</dict>
				<key>contour_left5</key>
				<dict>
					<key>x</key>
					<integer>490</integer>
					<key>y</key>
					<integer>165</integer>
				</dict>
				<key>contour_left6</key>
				<dict>
					<key>x</key>
					<integer>496</integer>
					<key>y</key>
					<integer>178</integer>
				</dict>
				<key>contour_left7</key>
				<dict>
					<key>x</key>
					<integer>504</integer>
					<key>y</key>
					<integer>190</integer>
				</dict>
				<key>contour_left8</key>
				<dict>
					<key>x</key>
					<integer>515</integer>
					<key>y</key>
					<integer>200</integer>
				</dict>
				<key>contour_left9</key>
				<dict>
					<key>x</key>
					<integer>527</integer>
					<key>y</key>
					<integer>208</integer>
				</dict>
				<key>contour_right1</key>
				<dict>
					<key>x</key>
					<integer>604</integer>
					<key>y</key>
					<integer>126</integer>
				</dict>
				<key>contour_right2</key>
				<dict>
					<key>x</key>
					<integer>602</integer>
					<key>y</key>
					<integer>138</integer>
				</dict>
				<key>contour_right3</key>
				<dict>
					<key>x</key>
					<integer>599</integer>
					<key>y</key>
					<integer>150</integer>
				</dict>
				<key>contour_right4</key>
				<dict>
					<key>x</key>
					<integer>595</integer>
					<key>y</key>
					<integer>162</integer>
				</dict>
				<key>contour_right5</key>
				<dict>
					<key>x</key>
					<integer>591</integer>
					<key>y</key>
					<integer>174</integer>
				</dict>
				<key>contour_right6</key>
				<dict>
					<key>x</key>
					<integer>585</integer>
					<key>y</key>
					<integer>185</integer>
				</dict>
				<key>contour_right7</key>
				<dict>
					<key>x</key>
					<integer>578</integer>
					<key>y</key>
					<integer>195</integer>
				</dict>
				<key>contour_right8</key>
				<dict>
					<key>x</key>
					<integer>569</integer>
					<key>y</key>
					<integer>204</integer>
				</dict>
				<key>contour_right9</key>
				<dict>
					<key>x</key>
					<integer>558</integer>
					<key>y</key>
					<integer>211</integer>
				</dict>
				<key>left_eye_bottom</key>
				<dict>
					<key>x</key>
					<integer>530</integer>
					<key>y</key>
					<integer>117</integer>
				</dict>
				<key>left_eye_center</key>
				<dict>
					<key>x</key>
					<integer>531</integer>
					<key>y</key>
					<integer>114</integer>
				</dict>
				<key>left_eye_left_corner</key>
				<dict>
					<key>x</key>
					<integer>519</integer>
					<key>y</key>
					<integer>113</integer>
				</dict>
				<key>left_eye_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>524</integer>
					<key>y</key>
					<integer>115</integer>
				</dict>
				<key>left_eye_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>536</integer>
					<key>y</key>
					<integer>117</integer>
				</dict>
				<key>left_eye_pupil</key>
				<dict>
					<key>x</key>
					<integer>531</integer>
					<key>y</key>
					<integer>113</integer>
				</dict>
				<key>left_eye_right_corner</key>
				<dict>
					<key>x</key>
					<integer>542</integer>
					<key>y</key>
					<integer>117</integer>
				</dict>
				<key>left_eye_top</key>
				<dict>
					<key>x</key>
					<integer>532</integer>
					<key>y</key>
					<integer>110</integer>
				</dict>
				<key>left_eye_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>525</integer>
					<key>y</key>
					<integer>111</integer>
				</dict>
				<key>left_eye_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>537</integer>
					<key>y</key>
					<integer>112</integer>
				</dict>
				<key>left_eyebrow_left_corner</key>
				<dict>
					<key>x</key>
					<integer>510</integer>
					<key>y</key>
					<integer>103</integer>
				</dict>
				<key>left_eyebrow_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>519</integer>
					<key>y</key>
					<integer>104</integer>
				</dict>
				<key>left_eyebrow_lower_middle</key>
				<dict>
					<key>x</key>
					<integer>529</integer>
					<key>y</key>
					<integer>105</integer>
				</dict>
				<key>left_eyebrow_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>539</integer>
					<key>y</key>
					<integer>107</integer>
				</dict>
				<key>left_eyebrow_right_corner</key>
				<dict>
					<key>x</key>
					<integer>549</integer>
					<key>y</key>
					<integer>109</integer>
				</dict>
				<key>left_eyebrow_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>520</integer>
					<key>y</key>
					<integer>98</integer>
				</dict>
				<key>left_eyebrow_upper_middle</key>
				<dict>
					<key>x</key>
					<integer>530</integer>
					<key>y</key>
					<integer>99</integer>
				</dict>
				<key>left_eyebrow_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>540</integer>
					<key>y</key>
					<integer>102</integer>
				</dict>
				<key>mouth_left_corner</key>
				<dict>
					<key>x</key>
					<integer>529</integer>
					<key>y</key>
					<integer>162</integer>
				</dict>
				<key>mouth_lower_lip_bottom</key>
				<dict>
					<key>x</key>
					<integer>551</integer>
					<key>y</key>
					<integer>174</integer>
				</dict>
				<key>mouth_lower_lip_left_contour1</key>
				<dict>
					<key>x</key>
					<integer>541</integer>
					<key>y</key>
					<integer>166</integer>
				</dict>
				<key>mouth_lower_lip_left_contour2</key>
				<dict>
					<key>x</key>
					<integer>535</integer>
					<key>y</key>
					<integer>167</integer>
				</dict>
				<key>mouth_lower_lip_left_contour3</key>
				<dict>
					<key>x</key>
					<integer>542</integer>
					<key>y</key>
					<integer>171</integer>
				</dict>
				<key>mouth_lower_lip_right_contour1</key>
				<dict>
					<key>x</key>
					<integer>562</integer>
					<key>y</key>
					<integer>170</integer>
				</dict>
				<key>mouth_lower_lip_right_contour2</key>
				<dict>
					<key>x</key>
					<integer>566</integer>
					<key>y</key>
					<integer>172</integer>
				</dict>
				<key>mouth_lower_lip_right_contour3</key>
				<dict>
					<key>x</key>
					<integer>559</integer>
					<key>y</key>
					<integer>174</integer>
				</dict>
				<key>mouth_lower_lip_top</key>
				<dict>
					<key>x</key>
					<integer>552</integer>
					<key>y</key>
					<integer>169</integer>
				</dict>
				<key>mouth_right_corner</key>
				<dict>
					<key>x</key>
					<integer>572</integer>
					<key>y</key>
					<integer>170</integer>
				</dict>
				<key>mouth_upper_lip_bottom</key>
				<dict>
					<key>x</key>
					<integer>552</integer>
					<key>y</key>
					<integer>168</integer>
				</dict>
				<key>mouth_upper_lip_left_contour1</key>
				<dict>
					<key>x</key>
					<integer>548</integer>
					<key>y</key>
					<integer>164</integer>
				</dict>
				<key>mouth_upper_lip_left_contour2</key>
				<dict>
					<key>x</key>
					<integer>539</integer>
					<key>y</key>
					<integer>163</integer>
				</dict>
				<key>mouth_upper_lip_left_contour3</key>
				<dict>
					<key>x</key>
					<integer>541</integer>
					<key>y</key>
					<integer>165</integer>
				</dict>
				<key>mouth_upper_lip_right_contour1</key>
				<dict>
					<key>x</key>
					<integer>557</integer>
					<key>y</key>
					<integer>165</integer>
				</dict>
				<key>mouth_upper_lip_right_contour2</key>
				<dict>
					<key>x</key>
					<integer>565</integer>
					<key>y</key>
					<integer>167</integer>
				</dict>
				<key>mouth_upper_lip_right_contour3</key>
				<dict>
					<key>x</key>
					<integer>562</integer>
					<key>y</key>
					<integer>169</integer>
				</dict>
				<key>mouth_upper_lip_top</key>
				<dict>
					<key>x</key>
					<integer>553</integer>
					<key>y</key>
					<integer>165</integer>
				</dict>
				<key>nose_contour_left1</key>
				<dict>
					<key>x</key>
					<integer>551</integer>
					<key>y</key>
					<integer>119</integer>
				</dict>
				<key>nose_contour_left2</key>
				<dict>
					<key>x</key>
					<integer>545</integer>
					<key>y</key>
					<integer>138</integer>
				</dict>
				<key>nose_contour_left3</key>
				<dict>
					<key>x</key>
					<integer>548</integer>
					<key>y</key>
					<integer>150</integer>
				</dict>
				<key>nose_contour_lower_middle</key>
				<dict>
					<key>x</key>
					<integer>556</integer>
					<key>y</key>
					<integer>154</integer>
				</dict>
				<key>nose_contour_right1</key>
				<dict>
					<key>x</key>
					<integer>566</integer>
					<key>y</key>
					<integer>121</integer>
				</dict>
				<key>nose_contour_right2</key>
				<dict>
					<key>x</key>
					<integer>568</integer>
					<key>y</key>
					<integer>141</integer>
				</dict>
				<key>nose_contour_right3</key>
				<dict>
					<key>x</key>
					<integer>563</integer>
					<key>y</key>
					<integer>153</integer>
				</dict>
				<key>nose_left</key>
				<dict>
					<key>x</key>
					<integer>541</integer>
					<key>y</key>
					<integer>145</integer>
				</dict>
				<key>nose_right</key>
				<dict>
					<key>x</key>
					<integer>570</integer>
					<key>y</key>
					<integer>149</integer>
				</dict>
				<key>nose_tip</key>
				<dict>
					<key>x</key>
					<integer>558</integer>
					<key>y</key>
					<integer>146</integer>
				</dict>
				<key>right_eye_bottom</key>
				<dict>
					<key>x</key>
					<integer>583</integer>
					<key>y</key>
					<integer>125</integer>
				</dict>
				<key>right_eye_center</key>
				<dict>
					<key>x</key>
					<integer>583</integer>
					<key>y</key>
					<integer>122</integer>
				</dict>
				<key>right_eye_left_corner</key>
				<dict>
					<key>x</key>
					<integer>573</integer>
					<key>y</key>
					<integer>121</integer>
				</dict>
				<key>right_eye_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>578</integer>
					<key>y</key>
					<integer>123</integer>
				</dict>
				<key>right_eye_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>588</integer>
					<key>y</key>
					<integer>125</integer>
				</dict>
				<key>right_eye_pupil</key>
				<dict>
					<key>x</key>
					<integer>583</integer>
					<key>y</key>
					<integer>122</integer>
				</dict>
				<key>right_eye_right_corner</key>
				<dict>
					<key>x</key>
					<integer>593</integer>
					<key>y</key>
					<integer>123</integer>
				</dict>
				<key>right_eye_top</key>
				<dict>
					<key>x</key>
					<integer>584</integer>
					<key>y</key>
					<integer>119</integer>
				</dict>
				<key>right_eye_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>578</integer>
					<key>y</key>
					<integer>119</integer>
				</dict>
				<key>right_eye_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>589</integer>
					<key>y</key>
					<integer>121</integer>
				</dict>
				<key>right_eyebrow_left_corner</key>
				<dict>
					<key>x</key>
					<integer>573</integer>
					<key>y</key>
					<integer>113</integer>
				</dict>
				<key>right_eyebrow_lower_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>581</integer>
					<key>y</key>
					<integer>114</integer>
				</dict>
				<key>right_eyebrow_lower_middle</key>
				<dict>
					<key>x</key>
					<integer>589</integer>
					<key>y</key>
					<integer>114</integer>
				</dict>
				<key>right_eyebrow_lower_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>597</integer>
					<key>y</key>
					<integer>114</integer>
				</dict>
				<key>right_eyebrow_right_corner</key>
				<dict>
					<key>x</key>
					<integer>603</integer>
					<key>y</key>
					<integer>115</integer>
				</dict>
				<key>right_eyebrow_upper_left_quarter</key>
				<dict>
					<key>x</key>
					<integer>581</integer>
					<key>y</key>
					<integer>109</integer>
				</dict>
				<key>right_eyebrow_upper_middle</key>
				<dict>
					<key>x</key>
					<integer>589</integer>
					<key>y</key>
					<integer>108</integer>
				</dict>
				<key>right_eyebrow_upper_right_quarter</key>
				<dict>
					<key>x</key>
					<integer>598</integer>
					<key>y</key>
					<integer>109</integer>
				</dict>
			</dict>
		</dict>
	</array>
	<key>image_id</key>
	<string>38ql7gyffOpX/ek5mJ/OaA==</string>
	<key>request_id</key>
	<string>1496138887,d1566658-590e-4740-a769-1913c3f112e6</string>
	<key>time_used</key>
	<integer>418</integer>
</dict>
</plist>
